@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Manrope:wght@800&family=Montserrat:wght@800&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Manrope" Ariel;
  font-size: 28px;
}

.wrapper{
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.advice-box{
  color: #fff;
  background-color: hsl(217, 19%, 24%);
  width: min-content;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 3px hsl(217, 19%, 24%);
  text-align: center;
  position:relative;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.advice-number{
  font-size: 16px;
  color: hsl(150, 100%, 66%);
  padding: 1rem;
  margin: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.advice{
  margin: 1rem;
}

.divider{
  margin: 3rem 0;
}

.dice{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  position: absolute;
  bottom: -2.5rem;
  display: flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
}

@media screen and (max-width: 320px){
  .advice-box{
    width: 95%;
  }
}

.dice-roll{
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
